variant: fcos
version: 1.1.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ config.installer_ssh_key }}
storage:
  directories:
  - path: /srv/gitlab
  - path: /srv/gitlab/data
  - path: /srv/gitlab/logs
  - path: /srv/gitlab/config
systemd:
  units:
    - name: install-open-vm-tools.service
      enabled: true
      contents: |
        [Unit]
        Description=Installs open-vm-tools
        After=network-online.target
        Wants=network-online.target

        [Service]
        Type=oneshot
        TimeoutStartSec=0
        ExecStart=/bin/bash -c "/bin/rpm-ostree install open-vm-tools"
        ExecStartPost=/usr/bin/systemctl enable gitlab.service
        ExecStartPost=/bin/bash -c "/usr/bin/systemctl disable install-open-vm-tools.service && reboot"

        [Install]
        WantedBy=multi-user.target

    - name: gitlab.service
      enabled: false
      contents: |
        [Unit]
        Description=gitlab
        After=network-online.target
        Wants=network-online.target
        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/bin/podman kill gitlab
        ExecStartPre=-/bin/podman rm gitlab
        ExecStartPre=/bin/podman pull docker.io/gitlab/gitlab-ce:{{ gitlab_vm.tag }}
        ExecStart=/bin/podman run \
          --privileged \
          --hostname {{ gitlab_vm.name }}.{{ gitlab_vm.domain_name }} \
          --publish 443:443 \
          --publish 80:80 \
          --publish {{ gitlab_vm.ssh_port }}:22 \
          --name gitlab \
          --restart always \
          --volume /srv/gitlab/config:/etc/gitlab \
          --volume /srv/gitlab/logs:/var/log/gitlab \
          --volume /srv/gitlab/data:/var/opt/gitlab \
          gitlab/gitlab-ce:{{ gitlab_vm.tag }}
        [Install]
        WantedBy=multi-user.target
