{
  "ignition": {
    "config": {
      "replace": {
        "verification": {}
      }
    },
    "proxy": {},
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "3.1.0"
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "{{ config.installer_ssh_key }}"
        ]
      }
    ]
  },
  "storage": {
    "directories": [
      {
        "filesystem": "root",
        "group": {},
        "path": "/srv/gitlab",
        "user": {}
      },
      {
        "filesystem": "root",
        "group": {},
        "path": "/srv/gitlab/data",
        "user": {}
      },
      {
        "filesystem": "root",
        "group": {},
        "path": "/srv/gitlab/logs",
        "user": {}
      },
      {
        "filesystem": "root",
        "group": {},
        "path": "/srv/gitlab/config",
        "user": {}
      }
    ],
    "files": []
  },
  "systemd": {
    "units": [
      {
        "contents": "[Unit]\nDescription=gitlab\nAfter=network-online.target\nWants=network-online.target\n[Service]\nTimeoutStartSec=0\nExecStartPre=-/bin/podman kill gitlab\nExecStartPre=-/bin/podman rm gitlab\nExecStartPre=/bin/podman pull gitlab/gitlab-ce:{{ gitlab_vm.tag }}\nExecStart=/bin/podman run \\\n  --privileged \\\n  --hostname {{ gitlab_vm.name }}.{{ gitlab_vm.domain_name }} \\\n  --publish 443:443 \\\n  --publish 80:80 \\\n  --publish {{ gitlab_vm.ssh_port }}:22 \\\n  --name gitlab \\\n  --restart always \\\n  --volume /srv/gitlab/config:/etc/gitlab \\\n  --volume /srv/gitlab/logs:/var/log/gitlab \\\n  --volume /srv/gitlab/data:/var/opt/gitlab \\\n  gitlab/gitlab-ce:{{ gitlab_vm.tag }}\n[Install]\nWantedBy=multi-user.target\n",
        "enabled": true,
        "name": "gitlab.service"
      }
    ]
  }
}
